<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mh.helloandroid" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="standard" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MiAnotherActivity"
            android:label="@string/title_activity_mi_another" >
        </activity>
        <activity
            android:name=".MiDialogActivity"
            android:label="@string/title_activity_mi_dialog"
            android:theme="@style/Base.Theme.AppCompat.Dialog" >
        </activity>
        <activity
            android:name=".TestServiceActivity"
            android:label="@string/title_activity_test_service" >
        </activity>

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".MiFrameActivity"
            android:label="@string/title_activity_mi_frame" >
        </activity>
        <activity
            android:name=".MiTabsActivity"
            android:label="@string/title_activity_mi_tabs" >
        </activity>
        <activity
            android:name=".MiTabs2Activity"
            android:label="@string/title_activity_mi_tabs2" >
        </activity>
        <activity
            android:name=".MiCoordinationActivity"
            android:label="@string/title_activity_mi_coordination" >
        </activity>
        <activity
            android:name=".MiWebBrowseActivity"
            android:label="@string/title_activity_mi_web_browse">
        </activity>
    </application>

</manifest>
